<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE 3 | Dashboard</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Font Awesome -->
    <link rel="stylesheet" th:href="@{~/plugins/font-awesome/css/font-awesome.min.css}">
    <!-- Ionicons -->
    <link rel="stylesheet" th:href="@{https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css}">
    <!-- Theme style -->
    <link rel="stylesheet" th:href="@{~/dist/css/adminlte.min.css}">
    <!-- iCheck -->
    <link rel="stylesheet" th:href="@{~/plugins/iCheck/flat/blue.css}">
    <!-- Morris chart -->
    <link rel="stylesheet" th:href="@{~/plugins/morris/morris.css}">
    <!-- jvectormap -->
    <link rel="stylesheet" th:href="@{~/plugins/jvectormap/jquery-jvectormap-1.2.2.css}">
    <!-- Date Picker -->
    <link rel="stylesheet" th:href="@{~/plugins/datepicker/datepicker3.css}">
    <!-- Daterange picker -->
    <link rel="stylesheet" th:href="@{~/plugins/daterangepicker/daterangepicker-bs3.css}">
    <!-- bootstrap wysihtml5 - text editor -->
    <link rel="stylesheet" th:href="@{~/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css}">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">

    <!-- Navbar -->
    <!--    header-->
    <div th:replace="fragments/header"></div>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <div th:replace="fragments/sidebar"/>
    <!--    sidebar-->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Thêm bài đăng</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="index">Home</a></li>
                            <li class="breadcrumb-item active">Thêm bài đăng</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="card">
                    <form role="form">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Tiêu đề</label>
                                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Nhập tiêu đề">
                            </div>
                            <div class="form-group">
                                <label >Thể loại</label>
                                <div class="form-group">
                                    <select id="categoryItem" class="form-control">

                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputFile">File input</label>
                                <div class="input-group">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="exampleInputFile">
                                        <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                                    </div>
                                    <div class="input-group-append">
                                        <span class="input-group-text" id="">Upload</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">Check me out</label>
                            </div>
                        </div>
                        <!-- /.card-body -->

                        <div class="card-footer">
                            <button onclick="" id = "buttonChangeCategory" type="submit" class="btn btn-primary">Thay đổi selection category</button>
                        </div>
                    </form>
                </div>

            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <!--    foorter-->
    <div th:replace="fragments/footer" />

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script th:src="@{plugins/jquery/jquery.min.js}"></script>
<!-- jQuery UI 1.11.4 -->
<script th:src="@{https://code.jquery.com/ui/1.12.1/jquery-ui.min.js}"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
    $.widget.bridge('uibutton', $.ui.button)

    $(document).ready(function () {

        $.ajax({
            type:'GET',
            url:"http://localhost:8080/category",
            success: function (response){
                console.log(response);
                var category = $("#categoryItem");
                response.forEach(data => {
                    category.append(" <option> " + dat a.name + " </option>");
                });
            },
            error: function (error){
                console.log(error);
            }
        })


    })


</script>
<!-- Bootstrap 4 -->
<script th:src="@{~/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
<!-- Morris.js charts -->
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js}"></script>
<script th:src="@{~/plugins/morris/morris.min.js}"></script>
<!-- Sparkline -->
<script th:src="@{~/plugins/sparkline/jquery.sparkline.min.js}"></script>
<!-- jvectormap -->
<script th:src="@{~/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js}"></script>
<script th:src="@{~/plugins/jvectormap/jquery-jvectormap-world-mill-en.js}"></script>
<!-- jQuery Knob Chart -->
<script th:src="@{~/plugins/knob/jquery.knob.js}"></script>
<!-- daterangepicker -->
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js}"></script>
<script th:src="@{~/plugins/daterangepicker/daterangepicker.js}"></script>
<!-- datepicker -->
<script th:src="@{~/plugins/datepicker/bootstrap-datepicker.js}"></script>
<!-- Bootstrap WYSIHTML5 -->
<script th:src="@{~/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js}"></script>
<!-- Slimscroll -->
<script th:src="@{~/plugins/slimScroll/jquery.slimscroll.min.js}"></script>
<!-- FastClick -->
<script th:src="@{~/plugins/fastclick/fastclick.js}"></script>
<!-- AdminLTE App -->
<script th:src="@{~/dist/js/adminlte.js}"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script th:src="@{~/dist/js/pages/dashboard.js}"></script>
<!-- AdminLTE for demo purposes -->
<script th:src="@{~/dist/js/demo.js}"></script>
</body>
</html>
