<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE 3 | Dashboard</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <link rel="stylesheet" th:href="@{plugins/font-awesome/css/font-awesome.min.css}">
    <!-- Ionicons -->
    <link rel="stylesheet" th:href="@{https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css}">
    <!-- Theme style -->
    <link rel="stylesheet" th:href="@{dist/css/adminlte.min.css}">
    <!-- iCheck -->
    <link rel="stylesheet" th:href="@{plugins/iCheck/flat/blue.css}">
    <!-- Morris chart -->
    <link rel="stylesheet" th:href="@{plugins/morris/morris.css}">
    <!-- jvectormap -->
    <link rel="stylesheet" th:href="@{plugins/jvectormap/jquery-jvectormap-1.2.2.css}">
    <!-- Date Picker -->
    <link rel="stylesheet" th:href="@{plugins/datepicker/datepicker3.css}">
    <!-- Daterange picker -->
    <link rel="stylesheet" th:href="@{plugins/daterangepicker/daterangepicker-bs3.css}">
    <!-- bootstrap wysihtml5 - text editor -->
    <link rel="stylesheet" th:href="@{plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css}">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">

    <!-- Navbar -->
    <!--    header-->
    <div th:replace="fragments/header"></div>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <div th:replace="fragments/sidebar"/>
    <!--    sidebar-->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Quản lý bài đăng</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="index">Home</a></li>
                            <li class="breadcrumb-item active">Quản lý bài đăng</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Danh sách bài đăng</h3>
                        <div style="width: 150px;margin-top: 3%">
                            <button type="button" class="btn btn-block btn-outline-success">Thêm mới</button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table class="table table-bordered">
                            <tr>
                                <th style="width: 10px">STT</th>
                                <th>Tiêu đề</th>
                                <th>tác giả</th>
                                <th>Số lần truy cập</th>
                                <th>Nguồn</th>
                                <th>Ngày tạo</th>
                            </tr>
                            <tr th:each="data : ${news}">
                                <td th:text="${data.id}"></td>
                                <td th:text="${data.title}"></td>
                                <td th:text="${data.author}"></td>
                                <td th:text="${data.numberAccess}"></td>
                                <td th:text="${data.originalResource}"></td>
                                <td th:text="${data.createDate}"></td>
                            </tr>
                        </table>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer clearfix">
                        <ul class="pagination pagination-sm m-0 float-right">
                            <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
                        </ul>
                    </div>
                </div>

            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <!--    foorter-->
    <div th:replace="fragments/footer" />

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script th:src="@{plugins/jquery/jquery.min.js}"></script>
<!-- jQuery UI 1.11.4 -->
<script th:src="@{https://code.jquery.com/ui/1.12.1/jquery-ui.min.js}"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
    $.widget.bridge('uibutton', $.ui.button)
</script>
<!-- Bootstrap 4 -->
<script th:src="@{plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
<!-- Morris.js charts -->
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js}"></script>
<script th:src="@{plugins/morris/morris.min.js}"></script>
<!-- Sparkline -->
<script th:src="@{plugins/sparkline/jquery.sparkline.min.js}"></script>
<!-- jvectormap -->
<script th:src="@{plugins/jvectormap/jquery-jvectormap-1.2.2.min.js}"></script>
<script th:src="@{plugins/jvectormap/jquery-jvectormap-world-mill-en.js}"></script>
<!-- jQuery Knob Chart -->
<script th:src="@{plugins/knob/jquery.knob.js}"></script>
<!-- daterangepicker -->
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js}"></script>
<script th:src="@{plugins/daterangepicker/daterangepicker.js}"></script>
<!-- datepicker -->
<script th:src="@{plugins/datepicker/bootstrap-datepicker.js}"></script>
<!-- Bootstrap WYSIHTML5 -->
<script th:src="@{plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js}"></script>
<!-- Slimscroll -->
<script th:src="@{plugins/slimScroll/jquery.slimscroll.min.js}"></script>
<!-- FastClick -->
<script th:src="@{plugins/fastclick/fastclick.js}"></script>
<!-- AdminLTE App -->
<script th:src="@{dist/js/adminlte.js}"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script th:src="@{dist/js/pages/dashboard.js}"></script>
<!-- AdminLTE for demo purposes -->
<script th:src="@{dist/js/demo.js}"></script>
</body>
</html>
